<aside class="drawer hidden" id="drawer" aria-label="Side menu">
    <nav class="drawer-nav" aria-label="Navigation">
        <a class="drawer-link" href="homepage.html">Dashboard</a>
        <a class="drawer-link" href="EXAMINATION%20PREP%20SITE/courses.html">Courses</a>
        <a class="drawer-link" href="EXAMINATION%20PREP%20SITE/landing.html">Exam Prep</a>
        <a class="drawer-link" href="my-learnings.html">My Learnings</a>
        <a class="drawer-link" href="Profile.html">Profile</a>
    </nav>
</aside>
